configs/.flows.json.backup
[{"id":"b42fd12f.306d4","type":"tab","label":"Heartbeat","disabled":false,"info":""},{"id":"c314f908.4e5ca8","type":"tab","label":"api","disabled":false,"info":""},{"id":"650555c9.ffd16c","type":"tab","label":"Main Flow","disabled":false,"info":""},{"id":"8fcbda56.163098","type":"tab","label":"Flow 2"},{"id":"8c324270.0cbc4","type":"websocket-listener","z":"","path":"/ws/logs","wholemsg":"false"},{"id":"43de9d07.96b2e4","type":"websocket-listener","z":"","path":"/ws/modbus","wholemsg":"false"},{"id":"79ab5871.825f18","type":"serial-port","z":"","serialport":"COM8","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","newline":"","bin":"false","out":"char","addchar":false},{"id":"3d765505.5b10fa","type":"serial-port","z":"","serialport":"COM9","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","newline":"","bin":"false","out":"char","addchar":false},{"id":"60e8797.d0c1b88","type":"postgresDB","z":0,"name":"localhost","host":"127.0.0.1","port":"5432","database":"postgres","ssl":false,"max":"10","min":1,"idle":"1000"},{"id":"f4e8d24d.103f6","type":"modbus-client","z":0,"name":"Modbus Server","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM2","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"odd","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectTimeout":2000},{"id":"eb72cc10.d78be","type":"inject","z":"650555c9.ffd16c","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":130.5208282470703,"y":63.95834732055664,"wires":[["d26d8571.00f1b8"]]},{"id":"d26d8571.00f1b8","type":"function","z":"650555c9.ffd16c","name":"modbus data","func":"msg.signals = [\n    false,\n    Math.random() > 0.5,\n    false,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":146.52086639404297,"y":262.3854675292969,"wires":[["cca416c.23f31e8"]]},{"id":"3ff228e8.94a918","type":"rbe","z":"650555c9.ffd16c","name":"detect change","func":"rbe","gap":"","start":"","inout":"out","x":609.5242156982422,"y":262.02432918548584,"wires":[["f1847a76.fc7778"]]},{"id":"cca416c.23f31e8","type":"change","z":"650555c9.ffd16c","name":"stop signal","rules":[{"t":"set","p":"payload","pt":"msg","to":"signals[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":384.5173034667969,"y":262.4409809112549,"wires":[["3ff228e8.94a918"]]},{"id":"f1847a76.fc7778","type":"function","z":"650555c9.ffd16c","name":"if true","func":"if(msg.payload){\n return msg;\n}","outputs":1,"noerr":0,"x":806.5243320465088,"y":261.8229124546051,"wires":[["3eaf6dbb.072602"]]},{"id":"3f254637.cecf4a","type":"function","z":"650555c9.ffd16c","name":"generate data","func":"var selectedFrame = global.get(\"selectedFrame\");\n\nvar frameComponents = msg.payload.rows || [];\n\n//msg.signals.shift();\n//msg.signals.shift();\n//msg.signals.shift();\n\nmsg.signals = msg.signals.splice(16, frameComponents.length);\n\nvar signals = msg.signals;\n\n\nnode.warn(\"------frame--\" + selectedFrame.name);\nnode.warn(\"------shift--\"+ getShift());\nnode.warn(\"-------frameserial--\"+ getFrameSerial());\n\nif (selectedFrame && getShift() && getFrameSerial() > 0) {\n\n    msg.payload = [];\n\n    var frameSerial = getFrameSerial();\n\n    var isValid = signals.every(function (comp) {\n        return comp === true;\n    });\n\n    if (!isValid) {\n         frameSerial = frameSerial - 1;\n    }\n    \n    node.warn(frameSerial);\n    \n    node.warn('isValid..... '+ isValid);\n\n    frameComponents.forEach(function (comp, index) {\n        if (isValid && index == 0) {\n            node.warn('pushing log....', frameSerial);\n            msg.payload.push({\n                frametype: selectedFrame ? selectedFrame.name : '',\n                framenumber: isValid ? frameSerial : '---',\n                frameid: selectedFrame.id,\n                framecomponent: 'ALL',\n                shiftnumber: getShift(),\n                processingtime: \"\",\n                status: msg.signals[index] === true ? \"PRESENT\" : \"ABSENT\",\n                timestamp: new Date(),\n                frameDynamicCode: getFrameCode(new Date(), frameSerial)\n            });\n        } else if(!isValid && msg.signals[index] == false){\n            msg.payload.push({\n                frametype: selectedFrame ? selectedFrame.name : '',\n                framenumber: isValid ? frameSerial : '---',\n                frameid: selectedFrame.id,\n                framecomponent: (index + 1) +\":\"+ comp.name,\n                shiftnumber: getShift(),\n                processingtime: \"\",\n                status: msg.signals[index] === true ? \"PRESENT\" : \"ABSENT\",\n                timestamp: new Date(),\n                frameDynamicCode: '---'\n            });\n        }\n    });\n\n    global.set(\"selectedFrame\", {\n        name: selectedFrame.name,\n        number: selectedFrame.number,\n        id: selectedFrame.id,\n        serial: frameSerial,\n        serialstart: selectedFrame.serialstart\n    });\n\n    msg.topic = global.get(\"selectedFrame\");//selectedFrame;\n\n    //msg.topic.serial = frameserial;\n\n    return msg;\n}\n\nfunction getShift() {\n    var shifts = global.get(\"shifts\");\n    var shiftName = '';\n     \n    for (var i = 0; i < shifts.length; i++) {\n        \n        var currentTime = new Date().toString().slice(16, 21);\n        currentTime = parseInt(currentTime.replace(\":\", \"\"));\n        \n        var start = parseInt(shifts[i].starttime.replace(\":\", \"\"));\n        var end = parseInt(shifts[i].endtime.replace(\":\", \"\"));\n        \n        //console.log(i, shifts[i], currentTime, start, end);\n        // Fix time for compare.\n        if (end < start) {\n            \n            end += 2400;\n\n            if (!((currentTime >= start) && (currentTime <= end)))\n                currentTime += 2400;\n        }\n\n        if (currentTime < end && currentTime >= start) {\n            shiftName = shifts[i].name;\n            break;\n        }\n\n    }\n\n    return shiftName;\n}\n\nfunction getFrameCode(date, frameSerial) {\n    var dd = date.getDate();\n    var mm = date.getMonth()+1; //January is 0!\n\n    var yyyy = date.getFullYear();\n    if(dd<10){\n        dd='0'+dd;\n    }\n    if(mm<10){\n        mm='0'+mm;\n    }\n    return 'MMT '+dd+'-'+mm+'-'+yyyy.toString().substr(2) +'-'+getShift()+''+frameSerial;\n}\n\nfunction getFrameSerial() {\n    var frames = global.get('frames');\n    var serial = null;\n    var lastLogs = global.get('lastLogs');\n\n    frames.forEach(function (frame) {\n        if (selectedFrame.id == frame.id) {\n            //console.log(lastLogs[0].shiftnumber, getShift())\n            if (lastLogs && lastLogs[0] && lastLogs[0].shiftnumber && lastLogs[0].shiftnumber != getShift()) {\n                serial = frame.serialstart;\n            } else if(lastLogs && lastLogs[0] && lastLogs[0].framenumber > 0){\n                console.log('framesearch for each---', frame.serial);\n                serial = parseInt(lastLogs[0].framenumber) + 1;\n            } else {\n                serial = frame.serial > 0 ?  (parseInt(frame.serial) + 1) : frame.serialstart;\n            }\n        }\n\n    });\n\n    return serial;\n}","outputs":1,"noerr":0,"x":1424.1808776855469,"y":263.1528539657593,"wires":[["f89684ae.740bc8","27d28a2a.343dc6","7bd6d041.8809e"]]},{"id":"cd7e84c4.53c008","type":"http in","z":"c314f908.4e5ca8","name":"","url":"/downloadLogs","method":"get","upload":false,"swaggerDoc":"","x":120.0173568725586,"y":1457.34375,"wires":[["393def4e.785a9"]]},{"id":"e3e9f364.97f1d","type":"http response","z":"c314f908.4e5ca8","name":"","statusCode":"","headers":{},"x":1298.0142860412598,"y":1541.4307279586792,"wires":[]},{"id":"e50d7f92.ca82e","type":"change","z":"c314f908.4e5ca8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rows","tot":"msg"},{"t":"set","p":"filepath","pt":"msg","to":"req.query.path","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":903.0034790039062,"y":1516.6632080078125,"wires":[["e3e9f364.97f1d","4b272315.5d5b4c"]]},{"id":"96cf7828.34e3d8","type":"excel","z":"c314f908.4e5ca8","name":"","file":"","x":1344.5244903564453,"y":1739.2534894943237,"wires":[[]]},{"id":"f89684ae.740bc8","type":"split","z":"650555c9.ffd16c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1727.5208740234375,"y":264.88722229003906,"wires":[["1858aa77.190446"]]},{"id":"3eaf6dbb.072602","type":"function","z":"650555c9.ffd16c","name":"get selectedFrame","func":"if(global.get(\"selectedFrame\") && global.get(\"selectedFrame\").id){\n    msg.payload = global.get(\"selectedFrame\");\n    return msg;\n}","outputs":1,"noerr":0,"x":1005.3985137939453,"y":262.4687490463257,"wires":[["94ecbecf.877b2"]]},{"id":"2b255a60.9bfde6","type":"http in","z":"c314f908.4e5ca8","name":"","url":"/logs","method":"get","upload":false,"swaggerDoc":"","x":73,"y":1759.25439453125,"wires":[["393def4e.785a9"]]},{"id":"e23df606.3aeb48","type":"http response","z":"c314f908.4e5ca8","name":"","statusCode":"","headers":{},"x":1315.016269683838,"y":1811.3415575027466,"wires":[]},{"id":"74eee748.6b7ce8","type":"change","z":"c314f908.4e5ca8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rows","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":901.005859375,"y":1735.57421875,"wires":[["d033c00e.f368d"]]},{"id":"393def4e.785a9","type":"switch","z":"c314f908.4e5ca8","name":"","property":"req.query.searchBy","propertyType":"msg","rules":[{"t":"eq","v":"frametype","vt":"str"},{"t":"eq","v":"frameDynamicCode","vt":"str"},{"t":"eq","v":"shiftnumber","vt":"str"},{"t":"eq","v":"framecomponent","vt":"str"},{"t":"eq","v":"status","vt":"str"},{"t":"else"}],"checkall":"true","outputs":6,"x":280.13677978515625,"y":1605.3250732421875,"wires":[["c0169dbf.7c989"],["984ddd5b.26c87"],["659f2b80.026b94"],["e2250b41.28b8b8"],["5e126ae1.fa68e4"],["9d547af.3998188"]]},{"id":"d033c00e.f368d","type":"function","z":"c314f908.4e5ca8","name":"filter timestamp","func":"var res = [];\n\nif( msg.req && msg.req.query && msg.req.query.startTime && msg.req.query.endTime){\n    \n    var from = new Date(new Date(new Date(new Date(msg.req.query.startTime).setHours(23)).setMinutes(59)).setSeconds(59));\n    var to = new Date(new Date(new Date(new Date(msg.req.query.endTime).setHours(23)).setMinutes(59)).setSeconds(59));\n    var current = 0;\n    \n    msg.payload.forEach(function(payload){\n            \n        current = new Date(payload.timestamp).getTime();  \n        if( current >= from && current <= to ){\n            res.push(payload);\n        }\n    });\n    \n} else {\n    res = msg.payload;\n}\n\nmsg.payload = res;\n\nreturn msg;","outputs":1,"noerr":0,"x":1145.3907165527344,"y":1809.461368560791,"wires":[["e23df606.3aeb48"]]},{"id":"5d50071c.65b8d8","type":"websocket out","z":"650555c9.ffd16c","name":"","server":"8c324270.0cbc4","client":"","x":2212.2919921875,"y":261.2326354980469,"wires":[]},{"id":"27d28a2a.343dc6","type":"change","z":"650555c9.ffd16c","name":"","rules":[{"t":"set","p":"lastLogs","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1732.8907470703125,"y":141.80471801757812,"wires":[["49b6bf51.4b3b1"]]},{"id":"cd246229.3be6d","type":"function","z":"c314f908.4e5ca8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":829.3867797851562,"y":1625.472900390625,"wires":[["74eee748.6b7ce8","e50d7f92.ca82e"]]},{"id":"7120300b.0807f","type":"websocket out","z":"650555c9.ffd16c","name":"","server":"43de9d07.96b2e4","client":"","x":1952.2696380615234,"y":379.0039110183716,"wires":[]},{"id":"7d353d76.1ac784","type":"function","z":"650555c9.ffd16c","name":"","func":"msg.signals = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":236,"y":362,"wires":[["cca416c.23f31e8"]]},{"id":"7db1af73.05997","type":"function","z":"c314f908.4e5ca8","name":"","func":"var frame = global.get(\"selectedFrame\");\n\nvar data = ['AAGE', 'AAGG', 'AANF', 'AANG', 'AANP'];\n\nmsg = [\n    { payload: false}, \n    { payload: false},\n    { payload: false},\n    { payload: false},\n    { payload: false}\n    ];\n\n\ndata.forEach(function(name, index){\n    if(name == frame.name){\n        msg[index].payload = true;\n    }\n})\n\nreturn msg;\n","outputs":"5","noerr":0,"x":276.5,"y":1110,"wires":[["d0466039.05e9a"],["54e3ac81.4a1194"],["47d346cd.e728f8"],["d62ce944.6338b8"],["5f82259b.8b1edc"]]},{"id":"c8865549.37f9f8","type":"inject","z":"b42fd12f.306d4","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"0.5","crontab":"","once":false,"x":105,"y":71,"wires":[["67d4b4a6.4c120c"]]},{"id":"d56768b6.c2e9d8","type":"inject","z":"b42fd12f.306d4","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"0.5","crontab":"","once":true,"x":107,"y":154,"wires":[["67d4b4a6.4c120c"]]},{"id":"49b6bf51.4b3b1","type":"function","z":"650555c9.ffd16c","name":"hex converter","func":"function hex_to_ascii(str1)\n {\n\tvar hex  = str1.toString();\n\tvar str = '';\n\tfor (var n = 0; n < hex.length; n += 2) {\n\t\tstr += String.fromCharCode(parseInt(hex.substr(n, 2), 16));\n\t}\n\treturn str;\n }\n \nlet hex = hex_to_ascii(\"1B\");\n\nif(msg.payload[0].frameDynamicCode != '---'){\n    let str = '';\n     //start\n    str += hex + \"M001;\" + hex + \"B000;\" + hex + \"U\";\n     \n     //data\n     str += msg.payload[0].frameDynamicCode + \";\" ;\n    \n    //ending \n     str += hex + \"Z;\";\n    \n    msg.payload = str;\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":2008.500259399414,"y":68.85000038146973,"wires":[["bcfa12b6.585b3","f8d47f0a.1b635","744fa584.37bb0c"]]},{"id":"2411b933.b98636","type":"debug","z":"650555c9.ffd16c","name":"","active":true,"console":"false","complete":"payload","x":2914.0765228271484,"y":197.89930152893066,"wires":[]},{"id":"bcfa12b6.585b3","type":"function","z":"650555c9.ffd16c","name":"msg.pay","func":"msg.payload =true\nreturn msg;","outputs":1,"noerr":0,"x":2292.4099922180176,"y":203.30558013916016,"wires":[["6fe92af6.abb2b4","e86ababd.4d92d8"]]},{"id":"744fa584.37bb0c","type":"serial out","z":"650555c9.ffd16c","name":"","serial":"79ab5871.825f18","x":2403.795166015625,"y":127.99999237060547,"wires":[]},{"id":"f8d47f0a.1b635","type":"serial out","z":"650555c9.ffd16c","name":"","serial":"3d765505.5b10fa","x":2413.795166015625,"y":61,"wires":[]},{"id":"6fe92af6.abb2b4","type":"trigger","z":"650555c9.ffd16c","op1":"","op2":"false","op1type":"nul","op2type":"bool","duration":"5","extend":false,"units":"s","reset":"","name":"","x":2500.5730361938477,"y":380.0104179382324,"wires":[["61946fba.e190c"]]},{"id":"e86ababd.4d92d8","type":"trigger","z":"650555c9.ffd16c","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"1","extend":false,"units":"s","reset":"","name":"","x":2496.90625,"y":290.0104064941406,"wires":[["61946fba.e190c"]]},{"id":"4b272315.5d5b4c","type":"function","z":"c314f908.4e5ca8","name":"","func":"let newMsg = [];\n\n\nmsg.payload.forEach(function(payload) {\n    newMsg.push({\n        \"ID\": payload.id,\n        \"FRAME TYPE\": payload.frametype,\n        \"FRAME SERIAL NUMBER\": payload.framedynamiccode,\n        \"COMPONENT\": payload.framecomponent,\n        \"SHIFT\": payload.shiftnumber,\n        \"STATUS\": payload.status,\n        \"TIMESTAMP\": payload.timestamp\n    })\n});\n\nmsg.payload = newMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":1140.9688720703125,"y":1680.6458740234375,"wires":[["96cf7828.34e3d8","4720993b.528108"]]},{"id":"4720993b.528108","type":"debug","z":"c314f908.4e5ca8","name":"","active":true,"console":"false","complete":"false","x":1357.9688529968262,"y":1635.1215200424194,"wires":[]},{"id":"1858aa77.190446","type":"postgrestor","z":"650555c9.ffd16c","name":"add log","query":"INSERT INTO LOGS (\n  frametype,\n  framenumber,\n  framecomponent,\n  shiftnumber,\n  processingtime,\n  status,\n  timestamp,\n  frameDynamicCode\n) \n\nVALUES (\n'{{msg.payload.frametype}}',\n'{{msg.payload.framenumber}}',\n'{{msg.payload.framecomponent}}',\n'{{msg.payload.shiftnumber}}',\n'{{msg.payload.processingtime}}',\n'{{msg.payload.status}}',\n'{{msg.payload.timestamp}}',\n'{{msg.payload.frameDynamicCode}}'\n);","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":1966.0805778503418,"y":264.97925567626953,"wires":[["5d50071c.65b8d8"]]},{"id":"7bd6d041.8809e","type":"postgrestor","z":"650555c9.ffd16c","name":"set framenumber","query":"UPDATE FRAMES\n\nSET serial = '{{msg.topic.serial}}'\n\nWHERE id = '{{msg.topic.id}}';","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":1723.633056640625,"y":600.2630310058594,"wires":[["7120300b.0807f"]]},{"id":"94ecbecf.877b2","type":"postgrestor","z":"650555c9.ffd16c","name":"get components","query":"SELECT * FROM components\nWHERE frameid = '{{msg.payload.id}}' ORDER BY ID ASC;","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":1215.6408004760742,"y":262.69140911102295,"wires":[["3f254637.cecf4a"]]},{"id":"9d547af.3998188","type":"postgrestor","z":"c314f908.4e5ca8","name":"get logs","query":"SELECT * FROM LOGS ORDER BY ID DESC;","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":489.0127258300781,"y":1858.3379878997803,"wires":[["cd246229.3be6d"]]},{"id":"c0169dbf.7c989","type":"postgrestor","z":"c314f908.4e5ca8","name":"frametype","query":"SELECT * FROM LOGS\nWHERE \nframetype LIKE '%{{msg.req.query.searchString}}%'\nORDER BY ID DESC ;","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":500.0196228027344,"y":1429.7550048828125,"wires":[["cd246229.3be6d"]]},{"id":"984ddd5b.26c87","type":"postgrestor","z":"c314f908.4e5ca8","name":"frameDynamicCode","query":"SELECT * FROM LOGS\nWHERE \nframeDynamicCode LIKE '%{{msg.req.query.searchString}}%'\nORDER BY ID DESC ;","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":540.01953125,"y":1505.75390625,"wires":[["cd246229.3be6d"]]},{"id":"659f2b80.026b94","type":"postgrestor","z":"c314f908.4e5ca8","name":"shiftnumber","query":"SELECT * FROM LOGS\nWHERE \nshiftnumber LIKE '%{{msg.req.query.searchString}}%'\nORDER BY ID DESC ;","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":508.01953125,"y":1602.75390625,"wires":[["cd246229.3be6d"]]},{"id":"d576bf33.9cc91","type":"postgrestor","z":"c314f908.4e5ca8","name":"frametype","query":"SELECT * FROM LOGS\nWHERE \nframetype LIKE '%{{msg.req.query.searchString}}%'\nORDER BY ID DESC ;","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":500.01953125,"y":1680.75390625,"wires":[[]]},{"id":"e2250b41.28b8b8","type":"postgrestor","z":"c314f908.4e5ca8","name":"framecomponent","query":"SELECT * FROM LOGS\nWHERE \nframecomponent LIKE '%{{msg.req.query.searchString}}%'\nORDER BY ID DESC ;","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":530.01953125,"y":1680.75390625,"wires":[["cd246229.3be6d"]]},{"id":"5e126ae1.fa68e4","type":"postgrestor","z":"c314f908.4e5ca8","name":"status","query":"SELECT * FROM LOGS\nWHERE \nstatus LIKE '%{{msg.req.query.searchString}}%'\nORDER BY ID DESC ;","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":483.01953125,"y":1767.75390625,"wires":[["cd246229.3be6d"]]},{"id":"16eecfd6.a089d","type":"inject","z":"8fcbda56.163098","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":136,"y":80,"wires":[["ba2cc0b4.abd4e"]]},{"id":"ba2cc0b4.abd4e","type":"function","z":"8fcbda56.163098","name":"modbus data","func":"msg.payload = [\n    false,\n    Math.random() > 0.5,\n    false,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":132.00003051757812,"y":219.4271240234375,"wires":[["fdd0f87c.be52b8"]]},{"id":"798e0e0f.a99b9","type":"modbus-read","z":"650555c9.ffd16c","name":"","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"4000","quantity":"76","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"f4e8d24d.103f6","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":123,"y":470,"wires":[["7d353d76.1ac784"],[]]},{"id":"d0466039.05e9a","type":"modbus-write","z":"c314f908.4e5ca8","name":"4801","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"4801","quantity":"1","server":"f4e8d24d.103f6","x":585,"y":1049,"wires":[[],[]]},{"id":"67d4b4a6.4c120c","type":"modbus-write","z":"b42fd12f.306d4","name":"heartbeat","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"4800","quantity":"1","server":"f4e8d24d.103f6","x":316.5,"y":113,"wires":[[],[]]},{"id":"54e3ac81.4a1194","type":"modbus-write","z":"c314f908.4e5ca8","name":"4802","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"4802","quantity":"1","server":"f4e8d24d.103f6","x":578,"y":1091,"wires":[[],[]]},{"id":"47d346cd.e728f8","type":"modbus-write","z":"c314f908.4e5ca8","name":"4803","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"4803","quantity":"1","server":"f4e8d24d.103f6","x":578,"y":1130,"wires":[[],[]]},{"id":"d62ce944.6338b8","type":"modbus-write","z":"c314f908.4e5ca8","name":"4804","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"4804","quantity":"1","server":"f4e8d24d.103f6","x":575,"y":1173,"wires":[[],[]]},{"id":"5f82259b.8b1edc","type":"modbus-write","z":"c314f908.4e5ca8","name":"4805","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"4805","quantity":"1","server":"f4e8d24d.103f6","x":578,"y":1219,"wires":[[],[]]},{"id":"61946fba.e190c","type":"modbus-write","z":"650555c9.ffd16c","name":"data dn","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"4806","quantity":"1","server":"f4e8d24d.103f6","x":2718.017578125,"y":204.0104217529297,"wires":[["2411b933.b98636"],[]]},{"id":"fdd0f87c.be52b8","type":"websocket out","z":"8fcbda56.163098","name":"","server":"43de9d07.96b2e4","client":"","x":363.5,"y":219,"wires":[]},{"id":"98c9feca.cfe51","type":"websocket in","z":"8fcbda56.163098","name":"","server":"43de9d07.96b2e4","client":"","x":130.5,"y":392,"wires":[["72b520ac.49e7e","7c76b6a3.cab1f8"]]},{"id":"72b520ac.49e7e","type":"debug","z":"8fcbda56.163098","name":"MARKING MACHINE DATA","active":false,"console":"false","complete":"payload","x":391.5,"y":452,"wires":[]},{"id":"96226097.6c1cc","type":"websocket out","z":"8fcbda56.163098","name":"","server":"8c324270.0cbc4","client":"","x":575.5,"y":356,"wires":[]},{"id":"7c76b6a3.cab1f8","type":"function","z":"8fcbda56.163098","name":"BROADCAST","func":"delete msg._session;\n\nreturn msg;","outputs":1,"noerr":0,"x":356.5,"y":355,"wires":[["96226097.6c1cc"]]}]